
@{
    Layout = "_CaiFan";
}

<div class="text-left">
    <h1>About Us</h1>
    <p>To Be Continue...</p>
</div>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="images/mainpage1.jpg">
            </div>
            <div class="slide">
                <img src="images/mainpage2.jpg">
            </div>
            <div class="slide">
                <img src="images/mainpage3.jpg">
            </div>
            <div class="slide">
                <img src="images/mainpage4.jpg">
            </div>
            <div class="slide">
                <img src="images/mainpage1.jpg">
            </div>
            <div class="slide">
                <img src="images/mainpage2.jpg">
            </div>
            <div class="slide">
                <img src="images/mainpage3.jpg">
            </div>
            <div class="slide">
                <img src="images/mainpage4.jpg">
            </div>
        </div>
    </div>
</body>
</html>
