.box {
    position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxContent {
    width: 450px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #FFFFFF;
}