@{
    Layout = "_Caifan";
}
@model Reviews

<div class="container" style="background-color: lightyellow; border-radius: 12px;">
    <form asp-controller="Reviews"
          asp-action="Update"
          method="post" enctype="multipart/form-data">

        <h3 class="text-center"><b>Update</b></h3>

        <div class="row mb-2">
            <label class="col-sm-3 col-form-label fw-bold" asp-for="Rating">Rating:</label>
            <div class="col-sm-6">
                <input class="form-control" id="Rating" Name="Rating" placeholder="Rate from 1 to 5" />
            </div>
        </div>

        <div class="row mb-2">
            <label class="col-sm-3 col-form-label fw-bold" asp-for="Comment">Comment:</label>
            <div class="col-sm-6">
                <textarea class="form-control" id="Comment" name="Comment"
                          style="height: 100px" placeholder="Write your feedbacks here"></textarea>
            </div>
        </div>

        <div class="row mb-2">
            <label class="col-sm-3 col-form-label fw-bold" asp-for="Photo">Insert your picture:</label>
            <div class="col-sm-6">
                <input type="file" class="form-control mb-3" asp-for="Photo"
                       onchange="preview()">
                <img id="frame" height="100" src="" />
            </div>
        </div>

        <div class="off-set-5">
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>

        @if (ViewData["Message"] != null)
        {
            @if (ViewData["Message"] != null)
            {
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-6">
                        <div class="alert alert-@ViewData["MsgType"]">
                            <text>@Html.Raw(ViewData["Message"])</text>
                        </div>
                    </div>
                </div>
            }
        }
    </form>
</div>
