@{
    Layout = "_Caifan";
}
@model Reviews

<div class="container" style="background-color: lightyellow; border-radius: 12px;">
    <form asp-controller="Reviews"
          asp-action="Update"
          method="post" enctype="multipart/form-data">

        <h3 class="text-center"><b>Update Review</b></h3>

        @* <input asp-for="ReviewId" hidden /> *@


        <div class="row mb-2">
            <label class="col-sm-3 col-form-label fw-bold" asp-for="Rating">Rating:</label>
            <div class="col-sm-6">
                <input type="number" asp-for="Rating" class="form-control"
                       placeholder="Rating (1-5)" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2">
            <label class="col-sm-3 col-form-label fw-bold" asp-for="Comment">Comment:</label>
            <div class="col-sm-6">
                <textarea class="form-control" id="Comment" name="Comment"
                          style="height: 100px" placeholder="Write your feedbacks here"></textarea>
            </div>
        </div>

        <div class="row mb-2">
            <label class="col-sm-3 col-form-label fw-bold" asp-for="Photo">Insert your picture:</label>
            <div class="col-sm-6">
                <input type="file" class="form-control mb-3" asp-for="Photo"
                       onchange="preview()">
                <img id="frame" height="100" src="" />
            </div>
        </div>

        <div class="off-set-5">
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>

        @if (ViewData["Message"] != null)
        {
            <div class="form-group row">
                <div class="col-md-6">
                    <div class="alert alert-@ViewData["MsgType"]">
                        <b>Message: </b>@ViewData["Message"]<br />
                        @if (!string.IsNullOrEmpty(ViewData["ExecSQL"]?.ToString()))
                        {
                            <b>SQL: </b>

                            @ViewData["ExecSQL"]?.ToString()
                        }
                    </div>
                </div>
            </div>
        }
    </form>
</div>

<script>
    function preview() {
        frame.src = URL.createObjectURL(event.target.files[0]);
    }

    function clearImage() {
        document.getElementById('formFile').value = null;
        frame.src = "";
    }
</script>
