

@{
    @model List<Menu>

}

@{
    Layout = "_CaiFan";
}

@{
    ViewBag.Title = "Menu";
}


<style>
    body {
        background: url('@(Url.Content("~/BG 3.jpg"))') no-repeat center center fixed;
        background-size: cover;
        font-size: small;
    }
</style>

<div class="container" style="background-color: white; border-radius: 12px;">
    <div class="row p-3">
        <h1 class="text-center mb-2">Menu</h1>
        <div style="text-align:center">
        </div>
        <table id="JsMenutable" class="table table-bordered table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Dish</th>
                    <th>Name</th>
                    <th>Price </th>
                    <th>Nutrient Name </th>
                    <th>Food Type </th>
                    <th>Nutritional Value </th>
                    <th>Selling price </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td><img src="/MenuImages/broccoli.jpg" width="200" height="200" /></td>
                    <td> Broccoli </td>
                    <td> $4.99 </td>
                    <td> Calories </td>
                    <td> Vegetables </td>
                    <td> 55 </td>
                    <td> $4.99 </td>
                </tr>

                <tr>
                    <td><img src="/MenuImages/carrot.jpg" width="200" height="200" /></td>
                    <td> Carrot </td>
                    <td> $2.99 </td>
                    <td> Calories </td>
                    <td> Vegetables </td>
                    <td> 41 </td>
                    <td> $2.99 </td>
                </tr>

                <tr>
                    <td><img src="/MenuImages/Peas.jpg" width="200" height="200" /></td>
                    <td> Peas </td>
                    <td> $3.49 </td>
                    <td> Calories </td>
                    <td> Vegetables </td>
                    <td> 81 </td>
                    <td> $3.49 </td>
                </tr>

                <tr>
                    <td><img src="/MenuImages/bell pepper.jpg" width="200" height="200" /></td>
                    <td> Bell Pepper </td>
                    <td> $1.99 </td>
                    <td> Calories </td>
                    <td> Vegetables </td>
                    <td> 31 </td>
                    <td> $1.99 </td>
                </tr>

                <tr>
                    <td><img src="/MenuImages/cauliflower.jpg" width="200" height="200" /></td>
                    <td> Cauliflower </td>
                    <td> $4.49 </td>
                    <td> Calories </td>
                    <td> Vegetables </td>
                    <td> 25 </td>
                    <td> $4.49 </td>
                </tr>

                <tr>
                    <td><img src="/MenuImages/onion.jpg" width="200" height="200" /></td>
                    <td> Onion </td>
                    <td> $1.29 </td>
                    <td> Calories </td>
                    <td> Vegetables </td>
                    <td> 40 </td>
                    <td> $1.29 </td>
                </tr>

                <tr>
                    <td><img src="/MenuImages/zucchini.jpg" width="200" height="200" /></td>
                    <td> Zucchini </td>
                    <td> $2.79 </td>
                    <td> Calories </td>
                    <td> Vegetables </td>
                    <td> 17 </td>
                    <td> $2.79 </td>
                </tr>

                <tr>
                    <td><img src="/MenuImages/tomato.jpg" width="200" height="200" /></td>
                    <td> Tomato </td>
                    <td> $1.49 </td>
                    <td> Calories </td>
                    <td> Vegetables </td>
                    <td> 18 </td>
                    <td> $1.49 </td>
                </tr>

                <tr>
                    <td><img src="/MenuImages/rice.jpg" width="200" height="200" /></td>
                    <td> Rice </td>
                    <td> $2.99 </td>
                    <td> Calories </td>
                    <td> Vegetables </td>
                    <td> 130 </td>
                    <td> $2.99 </td>
                </tr>

                <tr>
                    <td><img src="/MenuImages/salmon.jpg" width="200" height="200" /></td>
                    <td> Salmon </td>
                    <td> $5.50 </td>
                    <td> Calories </td>
                    <td> Vegetables </td>
                    <td> 121 </td>
                    <td> $5.50 </td>
                </tr>

            </tbody>     
        </table>
    </div>
</div>