
<div class="row">
    <h2>Sales Report</h2>
    <ul class="nav nav-tabs fw-bold">
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" data-bs-target="#Report1">Sales Report 1: Union</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" data-bs-target="#Report2">Sales Report 2: Group and Sort</a></li>
    </ul>

 </div>