@* @model Password

@{
    Layout = "_CaiFan";
}

<h2>Forgot Password</h2>
<p3> Please enter your User ID</p3>

<style>
    body {
        background: url('@(Url.Content("~/BG4.jpg"))') no-repeat center center fixed;
        background-size: cover;
    }
</style>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-floating" }))
{
    <div class="form-floating col-md-3 mb-3">
        <input type="text" class="form-control" id="userId" name="userId" placeholder="User ID" required>
        <label for="userId">User ID</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
} *@