@model Password

@{
    Layout = "_CaiFan";
}

<h2>Forgot Password</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-floating" }))
{
    <div class="form-floating col-md-3 mb-3">
        <input type="text" class="form-control" id="userId" name="userId" placeholder="User ID" required>
        <label for="userId">User ID</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}