@model Password

@{
    Layout = "_CaiFan"; // Assuming this is your layout file
}

<h2>Reset password</h2>

@if (ViewData["Message"] != null)
{
    <div class="alert alert-@ViewData["MsgType"]">@ViewData["Message"]</div>
}

<form asp-action="ResetPassword" method="post">
    @*<input asp-for="UserId" />*@

    <div class="form-group">
        <label asp-for="NewPassword">New Password</label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword">Confirm Password</label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




