@model JiakUser

@{
	Layout = "_CaiFan";
	var userid = ViewData["userid"];
}

<link href="~/css/profile.css" rel="stylesheet" />
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://unpkg.com/phosphor-icons"></script>
	<link href="~/css/Update.css" rel="stylesheet" />
	<title>Vertical Tabs</title>
</head>
<body>
	<style>
		body {
			background: url('@(Url.Content("~/bkgppp.jpg"))') no-repeat center center fixed;
			background-size: cover;
		}
	</style>
	<form asp-controller="Account"
      asp-action="Update"
      method="post">
	<div class="container">
		<div class="wrapper">
			<ul class="indicator">
				<li class="active" data-target="#profile"><i class="ph-user-circle"></i> Profile</li>
				<li data-target="#email"><i class="ph-envelope"></i> Verify-Email</li>
				<li data-target="#password"><i class="ph-password"></i> Change Password</li>
			</ul>
			<ul class="content">
				<li class="active" id="profile">
					<h1>Edit Profile</h1>
					@* <label class="col-form-label col-sm-2 fw-bold" for="UserId">User Id : </label>
					<input text="text" value=@userid asp-for="UserId" class="form-control"
							   readonly="readonly" />  *@
					<div class="row mb-4">
						<label class="col-form-label col-sm-3 fw-bold" for="UserId">User Id:</label>
						<div class="col-sm-8">
							<input text="text" value=@userid asp-for="UserId" class="form-control"
								   readonly="readonly" />
						</div>
					</div>
					<div class="row mb-4">
						<label class="col-form-label col-sm-4 fw-bold" for="UserName">Username:</label>
						<div class="col-sm-8">
							<input text="text" asp-for="UserName" class="form-control"/>
							<span asp-validation-for="UserName" class="text-danger"></span>
						</div>
					</div>
						<div class="row mb-4">
							<label class="col-form-label col-sm-3 fw-bold" for="Gender">Gender:</label>
							<div class="col-sm-8">
								<div class="form-check form-check-inline">
									<input type="radio" class="form-check-input"
										   id="male" name="Gender" value="Male" />
									<label class="form-check-label" for="male">Male</label>
								</div>
								<div class="form-check form-check-inline">
									<input type="radio" class="form-check-input"
										   id="female" name="Gender" value="Female" />
									<label class="form-check-label" for="female">Female</label>
								</div>
							</div>
						</div>
						<div class="row mb-4">
							<label class="col-form-label col-sm-3 fw-bold" for="Email">Email:</label>
							<div class="col-sm-8">
								<input text="text" asp-for="Email" class="form-control" />
								<span asp-validation-for="Email" class="text-danger"></span>
							</div>
						</div>
						<div class="row mb-4">
							<div class="offset-sm-0 col-sm-4">
								<input type="submit" value="Update"
									   class="btn btn-sm btn-primary" />
							</div>
						</div>

				</li>
				<li id="email">
					<h1>Verify-Email</h1>
						<p>Please check your email for verification code send to <b>john.doe@example.com</b></p>
						<div class="row mb-4">
						<label class="col-form-label col-sm-3 fw-bold" for="Code">Verification Code:</label>
						<div class="col-sm-8">
							<input text="text" />
							
					    </div>
							<p style="color:red;">Email Verifyied</p>
						</div>
						<div class="row mb-4">
							<div class="offset-sm-0 col-sm-4">
								<input type="submit" value="Verify"
									   class="btn btn-sm btn-primary" />
							</div>
						</div>
				</li>
				
				<li id="password">
					<h1>Change Password</h1>
						<div class="row mb-4">
							<label class="col-form-label col-sm-3 fw-bold" for="CurrentPw">Current Password:</label>
							<div class="col-sm-8">
								<input text="text" asp-for="UserName" class="form-control" />
								<span asp-validation-for="UserName" class="text-danger"></span>
							</div>
						</div>
						<div class="row mb-4">
							<label class="col-form-label col-sm-3 fw-bold" for="NewPw">New Password:</label>
							<div class="col-sm-8">
								<input text="text" asp-for="UserName" class="form-control" />
								<span asp-validation-for="UserName" class="text-danger"></span>
							</div>
						</div>
						<div class="row mb-4">
							<label class="col-form-label col-sm-3 fw-bold" for="ConfirmPw">Confirm Password:</label>
							<div class="col-sm-8">
								<input text="text" asp-for="UserName" class="form-control" />
								<span asp-validation-for="UserName" class="text-danger"></span>
							</div>
						</div>
						<div class="row mb-4">
							<div class="offset-sm-0 col-sm-4">
								<input type="submit" value="Update"
									   class="btn btn-sm btn-primary" />
							</div>
						</div>
				</li>
				
			</ul>
		</div>
	</div>
	<script>
		const allIndicator = document.querySelectorAll('.indicator li');
		const allContent = document.querySelectorAll('.content li');

		allIndicator.forEach(item => {
			item.addEventListener('click', function () {
				const content = document.querySelector(this.dataset.target);

				allIndicator.forEach(i => {
					i.classList.remove('active');
				})

				allContent.forEach(i => {
					i.classList.remove('active');
				})

				content.classList.add('active');
				this.classList.add('active');
			})
		})
	</script>
	</form>
</body>
</html>