@model JiakUser

@{
    Layout = "_CaiFan";
    var userid = ViewData["userid"];
}


<link href="~/css/udpp.css" rel="stylesheet" />
<link href="~/css/profile.css" rel="stylesheet" />
<div class="profContainer">
    <h3 id="profHeader">Edit Profile</h3>
    

    <form method="post" asp-controller="Account" asp-action="UpdateProfile">

    <div class="row mb-2">
        <label class="col-form-label col-sm-2 fw-bold" for="UserId">User Id:</label>
        <div class="col-sm-5">
            <input text="text" value=@userid asp-for="UserId" class="form-control"
                   readonly="readonly" />
        </div>
        </div>

        <div class="row mb-2">
            <label class="col-form-label col-sm-2 fw-bold" for="UserName">Username:</label>
            <div class="col-sm-5">
                <input text="text" asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>


        <div class="row mb-2">
            <label class="col-form-label col-sm-2 fw-bold" for="Gender">Gender:</label>
            <div class="col-sm-4">
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input"
                           id="male" name="Gender" value="Male" />
                    <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input"
                           id="female" name="Gender" value="Female" />
                    <label class="form-check-label" for="female">Female</label>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <label class="col-form-label col-sm-2 fw-bold" for="Email">Email:</label>
            <div class="col-sm-5">
                <input text="text" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3">
           
                <input type="submit" value="Update"
                       class="btn btn-sm btn-primary" />
            
        </div>

        @if (ViewData["Message"] != null)
        {
            <div class="form-group row">
                <div class="col-6">
                    <div class="alert alert-@ViewData["MsgType"]">
                        <b>Message: </b>@ViewData["Message"]<br />
                        @if (!String.IsNullOrEmpty(ViewData["ExecSQL"]?.ToString()))
                        {
                            <b>SQL: </b>

                            @ViewData["ExecSQL"]?.ToString()
                        }
                    </div>
                </div>
            </div>
        }
    </form>
    </div>
