@model UserLogin
@{
    Layout = "_CaiFan";
}

<form asp-controller="Account" asp-action="Login" method="post">
    <h4>GiftShop Sign In</h4>

    <div class="col-sm-5">

        @if (ViewData["Message"] != null)
        {
            <div class="mb-3">
                <div class="alert alert-secondary">
                    <text>@ViewData["Message"]</text>
                </div>
            </div>
        }

        <div class="mb-3">
            <label asp-for="UserID" class="form-label fw-bold">User ID :</label>
            <input asp-for="UserID" class="form-control form-control-sm" placeholder="Registered User ID" />
            <span asp-validation-for="UserID" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Password" class="form-label fw-bold">Password :</label>
            <input asp-for="Password" class="form-control form-control-sm" placeholder="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <input type="submit" class="btn btn-sm btn-primary" value="Sign In" />
        </div>

    </div>
</form>