@model DataRowCollection

@{
    Layout = "_Dish";
}

<link href="~/css/dish.css" rel="stylesheet" />
<div class="container text-center">
    <div class="box">
        <div class="boxContent">
            <h3 class="text-center">
                <b>
                    Snap your daily meal!
                </b>
            </h3>
            <!--Image-->
            <div class="row mb-2 mx-4">
                <label class="col-form-label fw-bold" for="Photo">Upload Image: </label>
                <input type="file" name="Photo" class="form-control" id="customFile" onchange="document.getElementById('ImageUpload').src = window.URL.createObjectURL(this.files[0])" accept=".jpg, .png, .jpeg, .bmp" data-val="true" data-val-required="The Photo field is required.">
                <span class="text-danger field-validation-valid" data-valmsg-for="Photo" data-valmsg-replace="true"></span>
            </div>
            <div class="row my-4 mx-4" style="text-align: center;">
                <img id="ImageUpload" src="" style="width: 400px; height: auto; margin: 0 auto;" alt="No picture uploaded" />
            </div>
            <div class="row my-4 mx-4">
                <input type="submit" class="btn btn-small btn-light border-primary" value="Submit" />
            </div>
            <div class="row my-4 mx-4">
                <p>
                    To see a history of the images you have processed, <br />
                    please login before submitting!<br />
                    Don't have an account? <br />
                    <a href="/Account/SignUp">
                        Sign Up
                    </a>
                    OR <a href="/Account/Login">
                        Login!
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
