@model ImageUploads

@{
    Layout = "_CaiFan";
    var userid = ViewData["userid"];
}

<style>
    body {
        background: url('@(Url.Content("~/images/mainpage.jpg"))') no-repeat center center fixed;
        background-size: cover;
        
    }
</style>

<link href="~/css/dish.css" rel="stylesheet" />
<link href="~/css/profile.css" rel="stylesheet" />

<div class="container text-center">
    <div class="box">
        <div class="boxContent">
            <h3 class="text-center">
                <b>
                    Snap your daily meal!
                </b>
            </h3>
            <div class="col-md-6 mb-3 form-floating">
            <input text="text" value=@userid asp-for="User" class="form-control"
                   readonly="readonly" />
            <label asp-for="User">User Id</label>
            @* <span asp-validation-for="UserId" class="text-danger"></span> *@
            </div>

            <div class="col-md-8 mb-3 form-floating">
                <select class="form-select" id="ImageLc" name="ImageLc">
                    <option value="Admiralty" selected="selected">Admiralty</option>
                    <option value="Aljunied">Aljunied</option>
                    <option value="Ang Mo Kio">Ang Mo Kio</option>
                    <option value="Bartley">Bartley</option>
                    <option value="Bayfront">Bayfront</option>
                    <option value="Beauty World">Beauty World</option>
                    <option value="Bedok">Bedok</option>
                    <option value="Bedok North">Bedok North</option>
                    <option value="Bedok Reservoir">Bedok Reservoir</option>
                    <option value="Bencoolen">Bencoolen</option>
                    <option value="Bendemeer">Bendemeer</option>
                    <option value="Bishan">Bishan</option>
                    <option value="Boon Keng">Boon Keng</option>
                    <option value="Boon Lay">Book Lay</option>
                    <option value="Botanic Gardens">Botanic Gardens</option>
                    <option value="Braddell">Braddell</option>
                    <option value="Bras Basah">Bras Basah</option>
                    <option value="Bright Hill">Bright Hill</option>
                    <option value="Buangkok">Buangkok</option>
                    <option value="Bugis">Bugis</option>
                    <option value="Bukit Batok">Bukit Batok</option>
                    <option value="Bukit Gombak">Bukit Gombak</option>
                    <option value="Bukit Panjang">Bukit Panjang</option>
                    <option value="Buona Vista">Buona Vista</option>
                    <option value="Caldecott">Caldecott</option>
                    <option value="Canberra">Canberra</option>
                    <option value="Cashew">Cashew</option>
                    <option value="Changi Airport">Changi Airport</option>
                    <option value="Chinatown">Chinatown</option>
                    <option value="Chinese Garden">Chinese Garden</option>
                    <option value="Choa Chu Kang">Choa Chu Kang</option>
                    <option value="City Hall">City Hall</option>
                    <option value="Clarke Quay">Clarke Quay</option>
                    <option value="Clementi">Clementi</option>
                    <option value="Commonwealth">Commonwealth</option>
                    <option value="Dakota">Dakota</option>
                    <option value="Dhoby Ghaut">Dhoby Ghaut</option>
                    <option value="Dover">Dover</option>
                    <option value="Downtown">Downtown</option>
                    <option value="Esplanade">Esplanade</option>
                    <option value="Eunos">Eunos</option>
                    <option value="Expo">Expo</option>
                    <option value="Farrer Park">Farrer Park</option>
                    <option value="Farrer Road">Farrer Road</option>
                    <option value="Fort Canning">Fort Canning</option>
                    <option value="Gardens by the Bay">Gardens by the Bay</option>
                    <option value="Geylang Bahru">Geylang Bahru</option>
                    <option value="Great World">Great World</option>
                    <option value="Gul Circle">Gul Circle</option>
                    <option value="HarbourFront">HarbourFront</option>
                    <option value="Havelock">Havelock</option>
                    <option value="Haw Par Villa">Haw Par Villa</option>
                    <option value="Hillview">Hillview</option>
                    <option value="Holland Village">Holland Village</option>
                    <option value="Hougang">Hougang</option>
                    <option value="Jalan Besar">Jalan Besar</option>
                    <option value="Joo Koon">Joo Koon</option>
                    <option value="Jurong East">Jurong East</option>
                    <option value="Kaki Bukit">Kaki Bukit</option>
                    <option value="Kallang">Kallang</option>
                    <option value="Kembangan">Kembangan</option>
                    <option value="Kent Ridge">Kent Ridge</option>
                    <option value="Khatib">Khatib</option>
                    <option value="King Albert Park">King Albert Park</option>
                    <option value="Kovan">Kovan</option>
                    <option value="Kranji">Kranji</option>
                    <option value="Labrador Park">Labrador</option>
                    <option value="Lakeside">Lakeside</option>
                    <option value="Lavender">Lavender</option>
                    <option value="Lentor">Lentor</option>
                    <option value="Little India">Little India</option>
                    <option value="Lorong Chuan">Lorong Chuan</option>
                    <option value="MacPherson">MacPherson</option>
                    <option value="Marina Bay">Marina Bay</option>
                    <option value="Marina South Pier">Marina South Pier</option>
                    <option value="Marsiling">Marsiling</option>
                    <option value="Marymount">Marymount</option>
                    <option value="Mattar">Mattar</option>
                    <option value="Maxwell">Maxwell</option>
                    <option value="Mayflower">Mayflower</option>
                    <option value="Mountbatten">Mountbatten</option>
                    <option value="Napier">Napier</option>
                    <option value="Newton">Newton</option>
                    <option value="Nicoll Highway">Nicoll Highway</option>
                    <option value="Novena">Novena</option>
                    <option value="one-north">one-north</option>
                    <option value="Orchard">Orchard</option>
                    <option value="Orchard Boulevard">Orchard Boulevard</option>
                    <option value="Outram Park">Outram Park</option>
                    <option value="Pasir Panjang">Pasir Panjang</option>
                    <option value="Pasir Ris">Pasir Ris</option>
                    <option value="Paya Lebar">Paya Lebar</option>
                    <option value="Pioneer">Pioneer</option>
                    <option value="Potong Pasir">Potong Pasir</option>
                    <option value="Promenade">Promenade</option>
                    <option value="Punggol">Punggol</option>
                    <option value="Queenstown">Queenstown</option>
                    <option value="Raffles Place">Raffles Place</option>
                    <option value="Redhill">Redhill</option>
                    <option value="Riviera">Riviera</option>
                    <option value="Rochor">Rochor</option>
                    <option value="Sembawang">Sembawang</option>
                    <option value="Sengkang">Sengkang</option>
                    <option value="Serangoon">Serangoon</option>
                    <option value="Shenton Way">Shenton Way</option>
                    <option value="Simei">Simei</option>
                    <option value="Sixth Avenue">Sixth Avenue</option>
                    <option value="Somerset">Somerset</option>
                    <option value="Springleaf">Springleaf</option>
                    <option value="Stadium">Stadium</option>
                    <option value="Stevens">Stevens</option>
                    <option value="Tai Seng">Tai Seng</option>
                    <option value="Tampines">Tampines</option>
                    <option value="Tampines East">Tampines East</option>
                    <option value="Tampines West">Tampines West</option>
                    <option value="Tan Kah Kee">Tan Kah Kee</option>
                    <option value="Tanah Merah">Tanah Merah</option>
                    <option value="Tanjong Pagar">Tanjong Pagar</option>
                    <option value="Telok Blangah">Telok Blangah</option>
                    <option value="Tiong Bahru">Tiong Bahru</option>
                    <option value="Toa Payoh">Toa Payoh</option>
                    <option value="Tuas Crescent">Tuas Crescent</option>
                    <option value="Tuas Link">Tuas Link</option>
                    <option value="Tuas West Road">Tuas West Road</option>
                    <option value="Ubi">Ubi</option>
                    <option value="Upper Changi">Upper Changi</option>
                    <option value="Upper Thomson">Upper Thomson</option>
                    <option value="Woodlands">Woodlands</option>
                    <option value="Woodlands North">Woodlands North</option>
                    <option value="Woodlands South">Woodlands South</option>
                    <option value="Woodleigh">Woodleigh</option>
                    <option value="Yew Tee">Yew Tee</option>
                    <option value="Yio Chu Kang">Yio Chu Kang</option>
                    <option value="Yishun">Yishun</option>
                </select>
                <label for="email">Location</label>
            </div>
            <div class="col-md-8 mb-3 form-floating">
                <input asp-for="ImageDt" class="form-control"
                       placeholder="ImageDt" />
                <label asp-for="ImageDt">Image date/time</label>
                <span asp-validation-for="ImageDt" class="text-danger"></span>
            </div>
            <!--Image-->
            <div class="row mb-2 mx-4">
                <label class="col-form-label fw-bold" for="Photo">Upload Image: </label>
                <input type="file" name="Photo" class="form-control" id="customFile" onchange="document.getElementById('ImageUpload').src = window.URL.createObjectURL(this.files[0])" accept=".jpg, .png, .jpeg, .bmp" data-val="true" data-val-required="The Photo field is required.">
                <span class="text-danger field-validation-valid" data-valmsg-for="Photo" data-valmsg-replace="true"></span>
            </div>
            <div class="row my-4 mx-4" style="text-align: center;">
                <img id="ImageUpload" src="" style="width: 400px; height: auto; margin: 0 auto;" alt="No picture uploaded" />
            </div>
            <div class="row my-4 mx-4">
                <input type="submit" class="btn btn-small btn-light border-primary" value="Submit" />
            </div>
            <div class="row my-4 mx-4">
                <p>
                    To see a history of the images you have processed, <br />
                    Please login before submitting!<br />
                    Don't have an account? <br />
                    <a href="/Account/SignUp">
                        Sign Up
                    </a>
                    OR <a href="/Account/Login">
                        Login!
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
