@model Dataset

 
@{
    Layout = "_CaiFan";
    var userid = ViewData["userid"];
}

<style>
    body {
        background: url('@(Url.Content("~/CaiFan DG.jpg"))') no-repeat center center fixed;
        background-size: cover;
    }
</style>

<link href="~/css/dish.css" rel="stylesheet" />
<link href="~/css/profile.css" rel="stylesheet" />

<div class="container text-center">
    <div class="box">
        <div class="boxContent">
            <h3 class="text-center">
                <b>
                    Snap your daily meal!
                </b>
            </h3>
            <form enctype="multipart/form-data" method="post" 
            asp-action="Index" asp-controller="DishIden">
               @* action="@Url.Action("Index", "DishIden")">*@
                @* <input asp-for="UserId" hidden /> *@
                <!-- Location Field -->
              @*   <div class="col-md-8 mb-3">
                    <label for="location">Location</label>
                    <select class="form-control" id="location" name="Location" required>
                        <option value="">Select a location</option>
                        <!-- Add other options here -->
                        <option value="Admiralty">Admiralty</option>
                        <option value="Aljunied">Aljunied</option>
                        <option value="Ang Mo Kio">Ang Mo Kio</option>
                        <option value="Bartley">Bartley</option>
                    </select>
                </div>

                <!-- DateTime Field -->
                <div class="col-md-8 mb-3">
                    <label for="imageDt">Image date/time</label>
                    <input type="datetime-local" class="form-control" id="imageDt" name="DateTime" required />
                </div> *@
                   
                 
                <!--Image-->
                <div class="row mb-2 mx-4">
                    <label class="col-form-label fw-bold" for="formfile">Upload an image:</label>
                    <input type="file" class="form-control mb-3" id="formfile"
                           name="Photo" onchange="preview()" required>
                    <img id="frame" src="" style="width: 400px; height: auto; margin: 0 auto;" alt="No picture uploaded" />
                </div>
                @*  <div class="row my-4 mx-4" style="text-align: center;">
                <img id="ImageUpload" src="" style="width: 400px; height: auto; margin: 0 auto;" alt="No picture uploaded" />
                </div> *@
                <div class="row my-4 mx-4">
                    <input type="submit" class="btn btn-small btn-light border-primary" value="Submit" />
                </div>
            </form>
                @if (ViewData["Message"] != null)
                {
                    <div class="form-group row">
                        <div class="col-md-6">
                            <div class="alert alert-@ViewData["MsgType"]">
                                <b>Message: </b>@ViewData["Message"]<br />
                                @if (!String.IsNullOrEmpty(ViewData["ExecSQL"]?.ToString()))
                                {
                                    <b>SQL: </b>
                                    @ViewData["ExecSQL"]?.ToString()
                                }
                            </div>
                        </div>
                    </div>
                }
                <div class="row my-4 mx-4">
                    <p>
                        To see a history of the images you have processed, <br />
                        Please login before submitting!<br />
                        Don't have an account? <br />
                        <a href="/Account/SignUp">
                            Sign Up
                        </a>
                        OR <a href="/Account/Login">
                            Login!
                        </a>
                    </p>
                </div>
          
        </div>
    </div>
    <script>
        function preview() {
            frame.src = URL.createObjectURL(event.target.files[0]);
        }

        function clearImage() {
            document.getElementById('formFile').value = null;
            frame.src = "";
        }
    </script>
</div>
