@{
    Layout = "_Layout";
}

<form enctype="multipart/form-data" method="post" action="/DIshIden/UploadImage">
    <input type="file" name="file" />
    <input type="submit" value="Upload Image" />
</form>
