
@{
    Layout = "_CaiFan";
}

<div class="text-left">
    <h1>About Us</h1>
    <p>To Be Continue...</p>
    <marquee direction="left">
        <img src="~/CaiFan DG.jpg" width="500" />
    </marquee>
</div>
